*{
    margin: 0;
    font-family: 'Montserrat';
}
body{
    position: relative;
}
.top-container{
    
    background: linear-gradient(to bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.5)), url("images/background.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: 1;
    
    
    
}
.header-fixed{
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    width: 99%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    
    
}
.csi-text{
    color: aliceblue;
    font-size: 25px;
    letter-spacing: 0px;
    font-weight: bold;
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    padding-left: 20px;
    transition: letter-spacing 0.5s ease-in-out;
}
.csi-text:hover{
    letter-spacing: 3px;
}
.nav{
    display: flex;
    
} 
.nav-buttons{
    display: flex;
    
}
.button{
    display: flex;
    margin-right: 20px;
    color: white;
    letter-spacing: 1px;
    background-color: rgba(0,0,0,0.7);
    border: unset;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 40px;
    transition: background-color 0.25s, border 1s;
    font-weight:500;
    
}
.button:hover{
    animation: dance 1s infinite ease-in-out;
    background-color: black;
    
}
@keyframes dance{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(3px);
    }
    100%{
        transform: translateY(0px);
    }
}
.hamicon{
    position: relative;
    overflow: hidden;
    
}
.ham-icon{
    
    border: 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;

    
}

.lines{
    position: absolute;
    top: 30%;
    left:25%

}
.line1{
    width: 18px;
    border: 1px solid black;
    transform: translateY(0) rotate(0deg);
    transition: all 1s ease-out;
    
    position: absolute;
    
    
}
.line2{
    position: absolute;
    top: 7px;
    width: 18px;
    border: 1px solid black;
    
    transform: translateX(0);
    transition:  0.8s ease-in-out;
}
.line3{
    top: 14px;
    width: 18px;
    border: 1px solid black;
    transform: translateY(0) rotate(0deg);
    transition: all 1s ease-out;
    
    position: absolute;
}
.hamicon:hover .line1{
    transform: translateY(7px) rotate(45deg);
}
.hamicon:hover .line2{
    border: 0px solid white;
    transform: translateX(-15px) ;
}
.hamicon:hover .line3{
    transform: translateY(-7px) rotate(-45deg);
}
.logo-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 40px;

}
.logo{
    
    opacity: 80% ;
    height: 180px;
    transform: rotate(0deg);
    transition: all ease-in-out 1s;
}
.logo:hover{
    transform: rotate(720deg) scale(1.2);
}
.vacanza{
    display: flex;
    justify-content: center;
}
.svg{
    
    height: 70px;
    

}
.action-buttons{
    display: flex;
    justify-content: center;
    margin: 40px 0px 0px;
    
}
.a-button{
    position: relative;
    display: flex;
    margin: 0px 20px 40px;
    padding: 15px 25px;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
    background-color: rgba(0,0,0,0.5);
    color: aliceblue;
    border: 2px solid white ;
    border-radius: 70px;
    align-items: center;
    justify-content: center;
    height: 50px;

    
}
.fa-arrow-right{
    font-size: 18px;
    display: none;
    padding: 0px;
    transform: translateX(0px);
    transition: transform 1s;
    
    
}
.a-button:hover>.fa-arrow-right{
    display: inline-block;
    transform: translateX(20px);
    
    
    

}
.middle-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    align-items: center;
    padding: 20px 0px 20px 0px;
    
}

.card{
    background-color: white;
    display: flex;
    width: 900px;
    margin: 20px;
    box-shadow: 10px 10px 10px gray;
    transition: all ease-in-out 0.5s;
    
    
}
.card:hover{
    transform: scale(1.1);
}
.card>img{
    width: 300px;
    clip-path: polygon(100% 0,0 0,50% 50%,0 100%,100% 100%);
}
#card2>img{
    
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0 100%,0 0);
}
#card2{
    box-shadow: -10px 10px 10px gray;
}
p{
    color: rgb(82, 82, 82);
}
.card-content>hr{
    color: black;

}
.text{
    padding: 20px;
}
.text>button{
    margin: 30px 0px;
    color: green;
    background-color: transparent;
    border: 1px solid green;
    transition: letter-spacing 1s ease-in-out;
}
.text>button:hover{
    color:white;
    background-color: green;
    letter-spacing: 3px;
}
.social-icons{
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%,-50%);
    border-bottom: 3px dotted white;
    margin: 0 0 50px 0;
    z-index: 2;
    
}
.bottom-container{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}
.footer-img{
    background: url("images/footer.png") no-repeat ;
    height: 150px;
    z-index: 1;
    animation: breathing 5s infinite ease-in-out;
}
@keyframes breathing{
    0% {
        
        transform: scale(1);
    }
    50% {
        
        transform: scale(1.1);
    }
    100% {
        
        transform: scale(1);
    }
}
.footer{
    z-index: 2;
    display: flex;
    justify-content: center;
    background-color: rgb(118, 4, 153);
    color: aliceblue;
    height: 30px;
    align-items: center;
}
.social-icons>a>i{
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin: 0 5px 5px;
    transition: all 0.3s ease-in-out;
    
    
}
.social-icons>a>i:hover{
    transform: rotate(45deg);
}
